@model IEnumerable<ProyectoDatosEF.Models.Plantilla>

@{
    ViewData["Title"] = "PlantillaHospital";
}

<h1>PlantillaHospital</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HospitalCod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaCod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpleadoCod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.T)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HospitalCod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaCod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpleadoCod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.T)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
        </tr>
}
    </tbody>
</table>
